* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
---------------
TYPOGRAPHY
---------------
*/

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: extra-bold;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: semi-bold;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('ttf');
    font-style: normal;
}

.article-title {
    order: 5;
    font-size: 1.25rem;
    font-weight: 800;
}

.article-title:focus,
.article-title:hover,
.article-title:active {
    color: #F4D04E;
}

.article-p {
    order: 6;
    margin: .75rem 0 1.5rem 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: #7F7F7F;
}

.published-h3 {
    order: 4;
    margin: .75rem 0;
    font-size: 0.75rem;
    font-weight: 500;
}

.author-name {
    font-size: 0.875rem;
    font-weight: 800;
    margin-left: .75rem;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    font-size: 8px; 
    font-style: italic;
    position: fixed;
    bottom: 5px;
    right: 0;
    left: 0;
}

/*
---------------
LAYOUT
---------------
*/

body {
    font-family: 'Figtree', sans-serif;
    background-color: #F4D04E;    
    color: #111;
    line-height: 150%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.blog-preview-card {
    max-width: 24rem;
    min-width: 20.4375rem;
    padding: 1.5rem;
    margin: 1.5rem;
    background-color: #fff;
    box-shadow: 8px 8px 0px 0px #000;

    border-radius: 1.25rem;
    border: 1px solid #111;
    display: flex;
    flex-direction: column;
}

/*
---------------
IMAGES/SVGs
---------------
*/

.article-header-img {
    order: 1;
    width: 100%;
    height: 12.5rem;
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
    object-fit: cover;
}

.author-avatar {
    width: 2rem;
    height: 2rem;
}

/*
---------------
BUTTONS/LINKS
---------------
*/

.topic-tags-list {
    order: 2;
    list-style-type: none;
}

.topic-tag {
    order: 3;
    border: none;
    display: inline;
    font-weight: 800;
}

.topic-tag-btn {
    all: unset;
    cursor: pointer;
    background-color: #F4D04E;
    transition: all 0.35s ease-in-out;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}

.topic-tag-btn:focus,
.topic-tag-btn:hover,
.topic-tag-btn:active {
    background-color: #111;
    color: #F4D04E;
}

.article-link {
    all: unset;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
}

.article-author-link {
    all: unset;
    order: 7;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.35s ease-in-out;
}

.article-link:focus,
.article-link:hover,
.article-link:active,
.article-author-link:focus,
.article-author-link:hover,
.article-author-link:active {
    color: #F4D04E;
}

.attribution a { 
    color: #fff; 
}

/*
---------------
MEDIA QUERIES
---------------
*/

@media (min-width: 420px) {

    .topic-tag-btn {
        font-size: 0.875rem;
    }

    .article-title {
        font-size: 1.5rem;
    }
    
    .article-p {
        font-size: 1rem;
    }

    .published-h3 {
        font-size: 0.875rem;
    }
}